<section id="{{ .Params.anchor | default .File.TranslationBaseName }}"
    class="landing-section preset-{{ .Params.preset | default " default" }}"
    style="{{ with .Params.bg_color }}background-color: {{ . }};{{ end }} {{ with .Params.text_color }}color: {{ . }};{{ end }}">
    <div class="container fade-in">
        {{ with .Params.logo }}
        <picture>
            {{ with $.Site.Params.logoDark }}
            <source media="(prefers-color-scheme: dark)" srcset="{{ . | relURL }}">
            {{ end }}
            <img src="{{ . | relURL }}" class="hero-logo" alt="{{ $.Title }}">
        </picture>
        {{ end }}
        {{ .Content }}
    </div>
</section>